<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DashBoard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<style>
    header {
    background-color: #333;
    padding: 30px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav img {
    margin-right: 20px; /* Add some margin to the right of the image */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px; /* Add some margin between the navigation links */
    margin-left: 250px;
}

nav a:hover {
    color: orange;
}
</style>
    </head>
    <body>
        <header class="p-3 text-bg-dark">
            <div class="container-fluid d-grid gap-3 align-items-center">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="/static/images/logo.jpg" alt="Logo" width="50px" height="50px">
                </a>
                <nav>
                        <a href="/shop" class="nav-link px-2 text-white">Shop</a>
                        <a href="/create" class="nav-link px-2 text-white">Create</a>
                </nav>


                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                  <button type="button" class="btn btn-outline-light me-2" onclick="location.href = '/Login';">Login</button>
                  <button type="button" class="btn btn-outline-light me-2" onclick="location.href = '/Signup';">Sign-up</button>
                </div>
              </div>
            </div>
          </header>

          <div class="container px-4 py-5 " id="custom-cards">
            <h2 class="pb-2 border-bottom">Discounts upto 75% off!</h2>

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('static/images/popk_2.webp');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <img src="/static/images/tcollect.jpg" alt="collection">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-stroke">Checkout our unique collections!</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <img src="/static/images/logo.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                        <small>Earth</small>
                      </li>
                      <li class="d-flex align-items-center">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                        <small>3d</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/images/popk_1.png');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <img src="/static/images/custom_text.jpg" alt="collection" height="200">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-stroke">Customize your Tshirt and get it in less than 48hrs</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <img src="/static/images/logo.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                        <small>Pakistan</small>
                      </li>
                      <li class="d-flex align-items-center">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                        <small>4d</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <img src="/static/images/creative.jpg" alt="collection">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-stroke">Are you a creative? Design with us and earn</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <img src="/static/images/logo.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                        <small>California</small>
                      </li>
                      <li class="d-flex align-items-center">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                        <small>5d</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>